body {
    font-family: Arial;
    padding: 20px;
    background: #f7f7f7;
    color: #333;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
}

.subtitle {
    text-align: center;
    margin-bottom: 30px;
    color: #666;
}
/* button list style */
.allbuttons {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

/* single style */
.button{
    border: 1px solid #ccc;
    background: white;
    border-radius: 10px;
    padding: 12px;
    width: 120px;
    text-align: center;
}

.button:hover {
    background: #2a682d1c;
}

.icon {
    width: 36px;
    height: 36px;
    margin-bottom: 6px;
}

.selected {
    border-color: #000000;
    background: #e9e9e9;
}

/* single style */



/* input */
.diary-input {
    width: 100%;
    height: 80px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #bbb;
    margin-bottom: 15px;
    font-size: 14px;
}

/* savebutton */
.save {
    width: 20%;
    background: black;
    color: white;
    padding: 10px 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.diary-list {
    margin-top: 10px;
}

.entry-card {
    background: white;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 8px;
    margin-top: 12px;
    line-height: 2;
}
