/* Header container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 24px;
  border-bottom: 1px solid #ddd;
  background: white;
}

/* Site title on the left */
.header-title {
  font-size: 20px;
  font-weight: bold;
}

/* Navigation links on the right */
.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

/* Hover effect (very simple) */
.nav a:hover {
  text-decoration: underline;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f7f7f7;
    color: #333;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 28px;
}

.subtitle {
    text-align: center;
    margin-bottom: 30px;
    color: #666;
}
/* button list style */
.allbuttons {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

/* single style */
.button{
    border: 1px solid #ccc;
    background: white;
    border-radius: 10px;
    padding: 12px;
    width: 120px;
    text-align: center;
}

.button:hover {
    background: #2a682d1c;
}

.icon {
    width: 36px;
    height: 36px;
    margin-bottom: 6px;
}

.selected {
    border-color: #000000;
    background: #e9e9e9;
}

/* single style */



/* input */
.diary-input {
    width: 100%;
    height: 80px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #bbb;
    margin-bottom: 15px;
    font-size: 14px;
}

/* savebutton */
.save {
    width: 20%;
    background: black;
    color: white;
    padding: 10px 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.diary-list {
    margin-top: 10px;
}

.card {
    background: white;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 8px;
    margin-top: 12px;
    line-height: 2;
}

.hf-hero {
  display: flex;
  gap: 12px;
  align-items: center;
}

.hf-section-title {
  text-align: center;
  margin: 26px 0 12px 0;
}

.block {
  max-width: 800px;
  margin: 0 auto 10px auto;
}

.bar {
  border: 1px solid #ccc;
  background: white;
  border-radius: 10px;
  padding: 12px;
  cursor: pointer;
  margin-bottom: 8px;
}


.hint {
  text-align: center;
  color: #666;
  margin-bottom: 12px;
}

.question {
  max-width: 800px;
  margin: 0 auto 12px auto;
}

.q {
  margin-top: 0;
  margin-bottom: 8px;
}

.option {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 8px;
  background: white;
  cursor: pointer;
}


.tutorimage{
  width:160px;
  height: auto;
  margin-top: 500px;
}

.map-wrapper{
  display: flex;
  align-items: center;
  gap: 24px;
  width:fit-content;
  margin: 0 auto;
  max-width: 100%;
  padding-right: 36px;
  padding-top: 5%;
}

.map-image{
  width:520px;
  height: auto;
  max-width: 100%;
 


}

.button-group{
  display: flex;
  gap: 12px;
  align-items:center;
  justify-content: center;
  margin: 24px auto;
  width:100%;
  padding-left: 70px;
  text-align: center;

}

.borough-btn{
  border: 1px solid #ccc;
    background: white;
    border-radius: 10px;
    padding: 12px;
    width: 120px;
    text-align: center;


    
}
.borough-btn.active{
  background: #29b553;
  color: white;
  border-color: #29b553;
}

#selected-borough{
  text-align: center;
  margin: 12px 0;
}

#parks-list{
  width: 500px;
  max-width: 90%;
  margin: 0 auto;
  text-align: left;

 
}

.park-card{
  border: 1px solid #29b553;
  background: white;
  border-radius: 12px;
padding: 14px 16px;
margin: 10px 0;
}


.park-card b{
  display: block;
  font-size: 18px;
  margin-bottom: 4px;
}

.content-center{
  width: 720px;
  max-width: 92%;
  margin: 0 auto;
}

.member{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin: 24px 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 24px;
}

.member img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.member-text{
  flex: 1;
}
.about-intro{
  margin-bottom: 40px;
}
.about-wrapper{
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
.about-title{
  text-align: center;
  letter-spacing: 2px;
  margin: 40px 0 20px 0;
}

.other {
    text-decoration: none;
    color: #333;
    margin-left: 40px; 
}

.chosen {
    font-weight: bold; 
}

#container {
    max-width: 1200px;
    padding-top: 30px;
    margin: 0 auto;
}

.citylist {
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-bottom: 50px;
}

.city {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.city img {
    margin-bottom: 5px;
    width: 25px; 
}

.boxandvisual {
    display: grid;
    grid-template-rows: 180px 250px; 
    row-gap: 30px;
    column-gap: 80px;
    justify-content: center;
}

.box {
    background-color: #fcecd9;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.top-left, .top-right {
    height: 180px; 
}

.bottom-left, .bottom-right { 
    height: 250px; 
}

.top-left { grid-column: 1 / 2; grid-row: 1 / 2; }
.top-right { grid-column: 3 / 4; grid-row: 1 / 2; }
.bottom-left { grid-column: 1 / 2; grid-row: 2 / 3; }
.bottom-right { grid-column: 3 / 4; grid-row: 2 / 3; }

.interaction {
    font-size: 16px;
}

.interaction-box {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: #ffffff; 
    border-radius: 8px;
    flex: 1;
    margin-bottom: 10px; 
}

.interaction-png img {
    width: 40px; 
}

.diary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #dcbfa0; 
    border-radius: 8px;
    color: black; 
    text-decoration: none; 
    font-size: 16px;
}

.tree-visual {
    grid-column: 2 / 3;
    grid-row: 1 / 3; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.weather-visual {
    position: absolute; 
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(-110px); 
}

.tree-visual img {
    width: 300px;
    transform: translateX(110px); 
}
